<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUAYACAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GUAYACAN.Properties.Settings>
            <setting name="RutaTrabajo" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaOrganizacion" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaPublicacion" serializeAs="String">
                <value />
            </setting>
            <setting name="Publicar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrvFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="PwdFTP" serializeAs="String">
                <value />
            </setting>
        </GUAYACAN.Properties.Settings>
    </userSettings>
</configuration>